table{
    border-collapse: collapse;
    width: 25%;
    margin: auto;
}

.orange{
    background-color: orange;
    text-decoration: underline;
    font-weight: 900;
}

.table2 td{
    width: 50%;
}