.tab{
    border: 1 solid black;
    border-collapse: collapse;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.white{
    background-color: white;
}