<div class="table-responsive">
  <table class="table border">
    <tr>
        <td>
          <button type="button" class="btn btn-outline-secondary" id="p1" posi="1" onclick= "jugar(this)">&nbsp;</button></td>
        <td>
          <button type="button" class="btn btn-outline-secondary" id="p2" onclick= "jugar(this)">&nbsp;</button></td>
        </td>
        <td>
          <button type="button" class="btn btn-outline-secondary" id="p3" onclick= "jugar(this)">&nbsp;</button></td>
        </td>
    </tr>
    <tr>
      <td>
          <button type="button" class="btn btn-outline-secondary" id="p4" onclick= "jugar(this)">&nbsp;</button></td>
        <td>
          <button type="button" class="btn btn-outline-secondary" id="p5" onclick= "jugar(this)">&nbsp;</button></td>
        </td>
        <td>
          <button type="button" class="btn btn-outline-secondary" id="p6" onclick= "jugar(this)">&nbsp;</button></td>
        </td>
    </tr>
    <tr>
      <td>
          <button type="button" class="btn btn-outline-secondary" id="p7" onclick= "jugar(this)">&nbsp;</button></td>
        <td>
          <button type="button" class="btn btn-outline-secondary" id="p8" onclick= "jugar(this)">&nbsp;</button></td>
        </td>
        <td>
          <button type="button" class="btn btn-outline-secondary" id="p9" onclick= "jugar(this)">&nbsp;</button></td>
        </td>
    </tr>
  </table>
</div>